@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
.container{
    height: 100vh;
}

p{
    font-size: 14px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
li{
    list-style: none;
}
header{
    background: linear-gradient( 45deg,#41cfcd, #4095bd);
    color: white;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;

}
.nav-brand{
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0 25px 0 50px;
    line-height: 1.1;
    letter-spacing: 2px;
}
.nav-brand .brand-up h1{
    font-weight: 900!important;
    font-size: 24px;
}
.brand-down h1{

   font-weight: 500;
   font-size: 26px;
   text-transform: lowercase;
}
.nav-menu ul{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}
.nav-menu ul li{
    padding-right: 30px;
}
.nav-menu ul li a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    /* letter-spacing: 1.5px; */
}
.main-background {
    background: linear-gradient( 45deg,#41cfcd, #4095bd);

}
.hero-section{
    /* height: 90vh; */
    padding-left: 50px;
    padding-right: 30px;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.font-weight-400{
    font-weight: 400!important;
}
.hero .hero-left{
    width: 50%;
     /* position: relative;  */
    /* right: -50px;  */
    

}
.hero .hero-left p{
    font-size: 46px;
    font-weight: 600;
   

}
.hero-btn{
    background-color: white;
    color: #41cfcd;
    border-radius: 20px;
    width: 160px;
    height: 40px;
    text-align: center;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    /* margin-top: 80px; */
    position: relative;
    bottom: 80px;
}
.hero-right{
    width: 50%;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    /* position: absolute; */
}
.hero-right img{

    width: 100%;
    height: 500px;
    object-fit: cover;

}
@keyframes slide-up {
    0% {
      transform: translateY(80px);
      overflow: hidden;
    }
    100% {
      transform: translateY(0px);
      overflow: hidden;
    }
  }
  
  .hero-left p {
    animation: slide-up 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  }


  @keyframes slide-up {
    0% {
      transform: translateY(80px);
      /* display: none; */

    }
    100% {
      transform: translateY(0px);  
      /* display: block;    */
    }
  }

  /* .one{
    display: block;
    animation: slide-up 1s infinite linear;
  }
  .two{
    display: block;
  }
  .three{
    display: block;
  } */

  @keyframes slide-left {
    0% {
        /* opacity: 0; */
        transform: translateX(30px);
        transform-origin: bottom right; 
        transform: scale(0.8);
     
      
    }
    100% {
        /* opacity: 1; */
        /* transform: translateX(0); */
        transform-origin: bottom right;  
        transform: scale(1); 
      
    }
  }
  
  .hero-right {
    overflow: hidden;
    animation: slide-left 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  }

  .main-background {
    animation: zoom-in-zoom-out 1s cubic-bezier(0.65, 0.05, 0.36, 1) normal;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
      
    }
  }

    .show{
        display: block;
    }
    .none{
        display: none;
    }
  .spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left: 5px solid #4095bd; /* Change this color to the desired spinner color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin .8s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .center{
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  
  